@layer base {
  :root {
    /* ========== Color styles */

    /* ---------- Brand */
    --color-brand-primary: #1562e8;
    --color-brand-secondary: #fbd62e;
    --color-brand-black: #1a1d22;

    /* ---------- Neutral */
    --color-neutral-lightest: #ffffff;
    --color-neutral-light: #f4f4f4;
    --color-neutral-dark: #dadada;
    --color-neutral-darkest: #a7a7a7;

    /* ---------- Uranus */
    --color-uranus-base: #89d9d3;

    /* ---------- Primary */
    --color-primary-lightest: #c1d8ff;
    --color-primary-light: #6ca1fe;
    --color-primary-dark: #0740a3;
    --color-primary-darkest: #09347c;

    /* ========== Autocomplete */
    --aa-detached-modal-media-query: ();
  }

  ::selection {
    @apply bg-brand-black text-white;
  }

  #__next {
    @apply flex flex-col min-h-screen;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply body-regular text-brand-black;
  }

  h1 {
    @apply heading-1;
  }

  h2 {
    @apply heading-2;
  }

  h3 {
    @apply heading-3;
  }

  h4 {
    @apply heading-4;
  }

  h5 {
    @apply heading-5;
  }

  mark,
  em {
    @apply highlighting;
  }

  input[type='search']::-webkit-search-cancel-button {
    @apply hidden;
  }
}
